@import url('https://fonts.googleapis.com/css2?family=Labrada&display=swap');

.form-style-5{
    position: sticky;
    top: 10vh;
	max-width: 500px;
	padding: 10px 20px;
	background: #f4f7f8;
	margin: 6vh auto;
	padding: 20px;
	background: #f4f7f8;
	border-radius: 8px;
    font-family: 'Labrada', serif;
border: 2px solid rgb(7, 7, 7);
box-shadow: 2px 2px 10px black;
}
.form-style-5:hover{
    box-shadow: -5px -5px 90px 10px rgba(115, 245, 250, 0.651);
    color:  red;
}
.form-style-5 fieldset{
	border: none;
}

.form-style-5 label {
	display: block;
	margin-bottom: 8px;
}
.form-style-5 input[type="text"],
.form-style-5 input[type="url"],
.form-style-5 textareat {
	font-family: Georgia, "", Times, serif;
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #e8eeef;
	color:#8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 textarea:focus
{
	background: #0c0c0c;
    color: rgb(253, 252, 252);
}

.form-style-5 .number {
	background: #ff0000;
	color: #ffffff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 100px 10px 15px 0px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
{
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #132122;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid #e72cce;
	border-width: 1px 1px 2px;
	margin-bottom: 10px;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
	color: skyblue;
}