*{
    margin:0px;
    padding:0px;
}


/*------ HEADER1 -------*/

#header1{
display:flex ;
justify-content: space-between;
/* border:2px solid red; */
height:7vh;
background-color: #132122;
}


.primary{
    display: flex;
    /* border:2px solid blue; */
    justify-content:space-between;
    width:30%;
   
}
.logo{
    width:25%;
    /* border: 2px solid blue; */
    background-color: white;
}

.logo>img{
    border:none;
    
}



.primary img{
    /* border:2px solid black; */
    width:100%;
    height:100%;
   }
.secondary{
    display: flex;
    justify-content: space-evenly;
    width:40%;

}
.secondary h4{
    color:white;
    font-size:18px;
   /* position: relative;
   bottom: 2.5vh; */
}
.details>button{
    /* text-align: center; */
    /* border: 2px solid orange; */
    padding:9px;
    background-color:#132122 ;
    color:white;
}
.secondary img{
    width: 100%;
    height: 100%;
}

/* slidebar css is here */

@font-face {
  font-family: 'robotoregular';
  src: url(../fonts/roboto-regular-webfont.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "robotoregular", sans-serif;
} */

body {
  min-height: 100vh;
  background: var(--bg-primary);
}

nav {
  position: fixed;
  width: 60px;
  height: 100%;
  background: var(--bg-secondary);
  transition: .5s;
  overflow: hidden;
  /* display: none; */
  background-color: transparent;
  z-index: 100;
}

nav.active {
  width: 300px;
}

/* nav:hover {
  width: 300px;
} */

nav ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

nav ul li {
  list-style: none;
  width: 100%;
  position: relative;

}

nav ul li a:hover {
  color: var(--bg-primary);
}

nav ul li:hover a::before {
  background-color: var(--bg-active);
  width: 100%;
}

nav ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--cl-text);
  transition: .2s;
}

nav ul li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: .2s;
}

nav ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

nav ul li a .title {
  position: relative;
  font-size: .85em;
}

nav ul li a .icon * {
  font-size: 1.1em;
}

nav ul li a.toggle {
  border-bottom: 3px solid var(--bg-primary);
}

.toggle {
  cursor: pointer;
}

header {
  display: none; 
  margin-top: 5vh;
}

@media (max-width: 768px) {
  header {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 60px;
      background: var(--bg-secondary);
      color: var(--cl-text);
  }

  header a {
      color: var(--cl-text)
  }

  nav {
      left: -60px;
  }

  nav.active {
      left: 0;
      width: 100%;
  }

  nav ul li a.toggle {
      display: none;
  }
}

:root {
  --bg-primary:white;
  --bg-secondary: rgb(255, 255, 255);
  --bg-active: #f8df00;
  --cl-text: black;
}













/*---------- NAVBAR ------------ */
#header2 {
  display: flex;
  width:100%;
  height:50px;
  justify-content: space-between;
  /* border: 2px solid black; */
  background-color: #faf4ef;

}
#navbar {
    overflow: hidden;
    background-color:#faf4ef;
    z-index: 100;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
   #navbar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }

  .search input[type=text] {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 15px;
  }

  

  /* #header2>div{  
    border: 2px solid blue;
  } */
  .logo1>img{
    height:70%;
  }
  .utilities{
    display:flex;
  }

  
  .utilities img{
   height:80% ;
    padding-right: 20px;
    /* border: 2px solid blue; */
    margin-top: 05px;
    margin-right: 05px;
  }

  .wedding{
    display: flex;
    width:100%;;
  }
  .wedding>div{
    /* border:2px solid orange; */
    height:500px;
  }
  .wedding>div:nth-child(1){
    width:1800px;
     /* border:2px solid orange;  */

  }

  .wedding>div:nth-child(1)>img{
    height:100%;
    width:100%;

  }
  /* .beautiful>div>button{
    display:block;
  } */
 .beautiful>div>img{
    width:100%;
    height: 350px;
    
 }
  
   
  .beautiful>div{
    background-color: black;
    /* border: 2px solid blue; */
    height:100%;
  }
  .beautiful button{
     margin: 30px 0 0 90px;
     background-color: #132122;
     color: white;
     border:2px solid white;
  }

 
  /*---- EXCLUSIVE -----*/
.brands{
    /* border: 2px solid seagreen; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width:80%;
    margin-left: 100px;
    /* border: 2px solid black; */
    gap:30px;
    
}
.brands img{
  /* border: 2px solid blue; */
  width:100%;
  height:100%;
  transition: 1s ease;
}

.brands img:hover{
  -webkit-transform: rotateZ(-10deg);
  -ms-transform: rotateZ(-10deg);
  transform: rotateZ(-10deg);
  transition: 1s ease;
  }

@media all and (min-width:768px) and (max-width:1024px) {
  .brands{
    grid-template-columns: repeat(4,1fr);
  }
}

@media all and (min-width:320px) and (max-width:767px) {
  .brands {
      grid-template-columns: repeat(1, 1fr);
      
  }
}




  .exclusive>h1{
    text-align: center;
    padding:50px;
    font-size: 50px;
  }

  .btn{
    font-size: 20px;
    padding: 10px;
    border:2px solid black;
    margin:50px;
    transform: translateX(670px); 
  }
  .btn:hover{
    cursor: pointer;
    background-color: black;
    color: white;
  }
  /* .savings{
    border:1px solid black;
  } */

  .savings>h1{
    text-align: center;
    padding:50px;
    font-size: 50px;
  }
  
  .love{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    /* border: 2px solid rebeccapurple; */
    height: 500px;
  }
  .love>div{
    width:70%;
   
    /* border: 2px solid lawngreen; */
    margin-left: 50px;
  }
  .love>div>img{
    width:100%;
    height:70%;
    transition: 1s ease;
  }

  .love img:hover {
    -webkit-filter: blur(5px);
    transition: 1s ease;
    }

  .love>div>p{
    text-align: center;
    margin-top: 10px;
  }

   @media all and (min-width:768px) and (max-width:1024px) {
    .love{
      grid-template-columns: repeat(4,1fr);
    }
  }
  
  @media all and (min-width:320px) and (max-width:767px) {
    .love {
        grid-template-columns: repeat(2, 1fr);
            
    }

    .love>div{
      width:100px;
      height:200px;
    }
    .love p{
      font-size: 10px;
      margin-bottom: 500px;
    }
    
  } 


  .wink{
    background-color: #FAF4EF;
    /* border:2px solid black; */
  }
  .wink>h3{
    color:#925862;
    font-style: italic ;
    text-align: center;
    margin-top: 20px;
    font-size: 60px;
  }

  .wink> h1{
    text-align: center;
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
  }

  .wink>p{
    text-align: center;
    font-size: 30px;
  }
  .looks{
    display: flex;
    /* border: 2px solid green; */
   justify-content: center;
   background-color: #FAF4EF;
  }
  .looks>div{
    /* border:2px solid black; */
    height:120vh;
  }
  .looks>div:nth-child(1)>img{
    height:80%;
    margin-top: 30px;
    transition: 1s ease;
    
  }
  .looks>div:nth-child(2)>img{
    margin-top: 100px;
    height:50%;
    transition: 1s ease;
  }

  .looks>div:nth-child(1){
    margin-right: 40px;
  }

  .looks img:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
    }



  

  .looks h3{
    margin-top: 20px;
  }
  .celebration>a>img{
    /* border: 2px solid blue; */
    width:100%;
   
  }

  .design>img{
   width:100%;
  }
  .perfect{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px ;
    /* border: 2px solid purple; */
  }
  .perfect>div>img{
    width:100%;
    height:80%;
    -webkit-filter: brightness(50%);
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-o-transition: all 1s ease;
-ms-transition: all 1s ease;
transition: all 1s ease;
  }

  .perfect img:hover {
    -webkit-filter: brightness(100%);
    }
  .perfect h3{
    text-align: center;
  }
  .perfect>div{
    /* border: 2px solid red; */
    width:70%;
    margin-left: 70px;
  }


  @media all and (min-width:768px) and (max-width:1024px) {
    .perfect{
      grid-template-columns: repeat(4,1fr);
    }
  }
  
  @media all and (min-width:320px) and (max-width:767px) {
    .perfect {
        grid-template-columns: repeat(2, 1fr);
            
    }
    .perfect h3{
      font-size: small;
    }
  }
  /* <!--------------- SLIDESHOW ------------------------> */


  * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  padding-top:100px;
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #ffffff;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
   /* <!--------------- SLIDESHOW ------------------------> */


.serve>img{
    width:100%;
   }

.fierce{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap:20px;
  /* transform: translateY(-04px);  */
 
}
/* .fierce>div{
  border:2px solid #04AA6D;
} */
.fierce img{
  width:100%;
  height:70%;
}

.fierce h3,h6,p{
  text-align: center;
  margin-top: 10px;
}

 @media all and (min-width:768px) and (max-width:1024px) {
  .fierce{
    grid-template-columns: repeat(4,1fr);
  }
}

@media all and (min-width:320px) and (max-width:767px) {
  .fierce {
      grid-template-columns: repeat(2, 1fr);
          
  }
  .fierce>div{
    height: 500px;
  }
  .fierce h3,p{
    font-size: small;
    
  }
 
} 
.more>img{
  width:100%;
  height: 100%;
  /* border: 1px solid green; */
}
.more{
  /* border: 1px solid orangered */
  background-color: #FFFFFF ;
}
.ways{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  /* border: 1px solid green; */
  transform: translateY(-04px); 
  justify-content: center;
  background-color: #FAF4EF ;
  height:60vh;
  
}
.ways>div{
  /* border: 2px solid blue; */
  width:70%;
  height: 50vh;
}
.ways img{
  width:100%;
  height: 80%;
  transition: 1s ease;
}

.ways img:hover {
  border-radius:50%;
  transition: 1s ease;
  }
.ways>div:nth-child(1){
  margin-left: 50px;
}
.ways>div:nth-child(3){
  margin-right: 50px;
}
.ways h2,h5{
  text-align: center;
  margin-top: 10px;
  font-size: small;
}

@media all and (min-width:768px) and (max-width:1024px) {
  .ways{
    grid-template-columns: repeat(3,1fr);
  }
}

@media all and (min-width:320px) and (max-width:767px) {
  .ways {
      grid-template-columns: repeat(1, 1fr);
      height: 80%;
  }
  .ways>div:nth-child(1){
    margin-right:350px;
  }

  .ways>div{
    width:50%;
    height:50%;
  }
  .perfect h3{
    font-size: small;
  }
}

/*------OUR PARTNERS-------- */
/* .our{
  border: 2px solid blue;
} */
.our>img{
  width:100%;
}

.partners{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  

}
.partners>div{
  /* border:2px solid blue; */
  width:70%;
  margin-left: 60px;
}
.partners img{
  width:100%;
  transition: .5s ease;
}

.partners img:hover{
  box-shadow: 0 0 0 10px #000000;
transition: .5s ease
  
  }

.partners h2,h5{
  margin-top: 10px;
  text-align: center;
  color: black;
}

@media all and (min-width:768px) and (max-width:1024px) {
  .partners{
    grid-template-columns: repeat(3,1fr);
  }
}

@media all and (min-width:320px) and (max-width:767px) {
  .partners {
      grid-template-columns: repeat(2, 1fr);
      height: 80%;
  }
  
}
.blooms{
  margin-top: 80px;
}
.blooms>img{
  width: 100%;
}
/* <!------ FOOTER -------> */

.footer{
  display:flex;
 justify-content:space-evenly;
  margin-top: 100px;
  /* border: 2px solid brown; */
}
/* .footer>div{
  border: 2px solid blue;
} */

.footer>div:nth-child(5){
  /* margin-right: 100px; */
  width:20%;
}
.footer h4,p{
  text-align: start;
}
.footer p:hover{
  text-decoration: underline;
  cursor: pointer;
}
.play>img{
  width:100%;
}
.play{
  /* margin-left: 100px; */
  width:20%;
  
}
.rewards{
  display:flex;
  margin-top: 20px;
}
/* .rewards>div{
  border:2px solid black;
  
} */
/* <!-- ----FOOTER END ---------> */

.last>img{
  width:100%;
}

/*--- CATEGORY---- */


/* body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
} */

.section-heading {
  font-family: "Dancing Script", cursive;
  text-align: center;
  font-size: 64px;
  color: #10996d;
  margin: 0 0 70px;
}

.container {
  display: flex;
  justify-content: center;
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

.profile {
  position: relative;
  transition: all 0.3s;
}

.profile:hover {
  transform: translateY(25px);
}

.profile img {
  max-width: 100%;
  border-radius: 50%;
  border: 5px solid #f7f7f7;
  filter: drop-shadow(-20px 0 10px rgba(0, 0, 0, 0.1));
  cursor: pointer;
}

.profile:not(:first-child) img {
  margin-left: -20px;
}

.profile .name {
  position: absolute;
  background-color: #10996d;
  color: #fff;
  font-family: "Bebas Neue", cursive;
  padding: 15px 30px;
  border-radius: 100px;
  bottom: -80px; left: 50%;
  white-space: nowrap;
  transform: translate(-50%, -50px);
  letter-spacing: 1px;
  font-size: 20px;
  opacity: 0;
  transition: all 0.3s;
}

.profile .name::before {
  content: "";
  position: absolute;
  width: 15px; height: 15px;
  background-color: #10996d;
  top: 0; left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.profile img:hover + .name {
  opacity: 1;
  transform: translateX(-50%);
  box-shadow: 0 10px 20px rgba(86, 86, 198, 0.3);
}
/* ------------- */
/*---- SIDEBAR -------*/
/* * {
  margin:0px;
  padding:0px;
  box-sizing:border-box;
  font-family:sans-serif;
}

#sidebar {
  position:absolute;
  top:0px;
  left:0px;
  width:200px;
  height:100%;
  background:#151719;
  transition:all 300ms linear;
}
#sidebar.active {
  left:-200px;
}
#sidebar .toggle-btn {
  position:absolute;
  left:220px;
  top:10px;
}
#sidebar .toggle-btn span {
  display:block;
  width:30px;
  height:5px;
  background:#151719;
  margin:5px 0px;
  cursor:pointer;
}
#sidebar div.list div.item {
  padding:15px 10px;
  border-bottom:1px solid #444;
  color:#fcfcfc;
  text-transform:uppercase;
  font-size:12px;
}

#sidebar div.list div.item a{
  color:#fcfcfc;
  text-decoration: none;
} */
/*---- SIDEBAR -------*/
